@font-face {
  font-family: inter;
  src: url("../assets/fonts/Inter/static/Inter_18pt-Black.ttf");
}

:root {
  --light-blue: #29ABE2;
  --darke-blue: #2A3647;
  --hover-darke-blue: #091931;

  --urgent: #FF3D00;
  --medium: #FFA800;
  --low: #7AE229;

  --story: #0038FF;
  --technical: #1FD7C1;

  --sidebar-color: #CDCDCD;

  --light-grey: #F6F7F8;
  --medium-grey: #E7E7E7;
  --dark-grey: #A8A8A8;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
}

body {
  flex-direction: column;
  font-family: inter;
}


.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.header-mobile {
  box-shadow: 0 5px 15px 5px var(--dark-grey);
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.logo-mobile {
  width: 32px;
  height: 39px;
}

.current-user-header{
    font-size: 20px;
    font-weight: 700;
    color: var(--light-blue);
    width: 40px;
    height: 40px;
    border: solid 2px var(--hover-darke-blue);
    border-radius: 50%;
    
}

main {
  flex: 1;
  flex-direction: column;
  background-color: var(--light-grey);
}

.sidebar-mobile {
  height: 80px;
  padding: 2px 16px;
  justify-content: space-between;
  background-color: var(--darke-blue);
}

.sidebar-mobile a {
  color: var(--light-grey);
}


.sidebar-mobile a img {
  width: 22px;
  height: 22px;
}