@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

:root {
  --light-blue: #29ABE2;
  --darke-blue: #2A3647;
  --hover-darke-blue: #091931;

  --urgent: #FF3D00;
  --medium: #FFA800;
  --low: #7AE229;

  --story: #0038FF;
  --technical: #1FD7C1;

  --sidebar-color: #CDCDCD;

  --light-grey: #F6F7F8;
  --medium-grey: #E7E7E7;
  --dark-grey: #A8A8A8;
}
*{
  margin: 0;
}

a{
  text-decoration: none;
}

 body{
  height: 100vh;
  flex-direction: column;
 }

main{
  flex: 1;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile {
  padding: 4px 16px 4px 16px;
  box-shadow: 0 5px 15px 5px var(--dark-grey);
  width: 100%;
}

.logo-mobile{ 
  width: 32px;
  height: 39px;
}

.sidebar-mobile{
  padding: 2px 16px;
  justify-content: space-between;
}

.sidebar-mobile a img{
  width: 22px;
  height: 22px;
}
