@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_opsz_wght.ttf);
}

:root {
    --light-blue: #29abe2;
    --darke-blue: #2a3647;
    --hover-darke-blue: #091931;
    --urgent: #ff3d00;
    --medium: #ffa800;
    --low: #7ae229;
    --story: #0038ff;
    --technical: #1fd7c1;
    --sidebar-color: #cdcdcd;
    --light-grey: #f6f7f8;
    --medium-grey: #e7e7e7;
    --dark-grey: #a8a8a8;
    --placeholder-grey: #d1d1d1;
    --white: #fff;
    --subtitle: #2a3647;
    --required: #ff8190;
    --red: #ff001f;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

a{
    color: #2E7CEE;
}

html,
body {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(42, 55, 71, 0.4);
    overflow-x: hidden;
}

.main {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--light-grey);
}

main::-webkit-scrollbar {
    width: 6px;
}

main::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--dark-grey);
}

main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.content {
    padding: 25px 16px 48px 16px;
    text-wrap: wrap;
    /* max-width: 1920px; */
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

/*Priority Buttons*/

.low {
    background-color: var(--low) !important;
    color: var(--white);
}

.medium {
    background-color: var(--medium) !important;
    color: var(--white);
}

.urgent {
    background-color: var(--urgent) !important;
    color: var(--white);
}

/* =========================
     Categorys Colors
   ========================= */

.user-stoty {
    background-color: #0038ff;
}

.technical-task {
    background-color: #20d7c1;
}

/* =========================
    Buttons in Contact 
   ========================= */

.bg-color-blue {
    background-color: var(--light-blue) !important;
}

.activePage {
    background-color: var(--hover-darke-blue);
}
