@media(max-width: 392px) {
    .prio-btn {
        padding: 8px 8px;
        width: 88px;
        gap: 4px;
    }
}

@media(max-width: 1024px) {
    .add-task-main-content {
        margin-left: 0;
    }
}

@media(min-width: 1024px) {
    .submit-row {
        margin-left: 210px;
    }

    .add-task-form {
        flex-direction: row;
        gap: 60px;
        padding: 0 40px;
    }

    .task-details {
        width: 100%;
    }

    .task-settings {
        width: 100%;
    }

    .add-task-main-content {
        flex-direction: row;
        position: relative;
    }

    .add-task-headline {
        position: absolute;
        top: -250px;
        left: 110px;
        font-size: 61px;
    }
}



@media (min-width: 1440px) {
    .add-task-main-content {
        margin-left: 232px;
    }

    .submit-row {
        margin-left: 232px;
    }
}