@media(max-width: 392px) {
    .prio-btn {
        padding: 8px 8px;
        width: 88px;
        gap: 4px;
    }
}

@media(max-width: 1024px) {
    .add-task-main-content {
        margin-left: 0;
    }
}