@media(max-width: 392px) {
    .prio-btn {
        padding: 8px 8px;
        width: 88px;
        gap: 4px;
    }
}

@media(max-width: 1024px) {
    .add-task-main-content {
        margin-left: 0;
    }
}

@media(min-width: 1024px) {
    .submit-row {
        margin-left: 210px;
    }
}



@media (min-width: 1440px) {
    .add-task-main-content {
        margin-left: 232px;
    }

    .submit-row {
        margin-left: 232px;
    }
}