@media (max-width: 1024px) {
    .board-main-content {
        margin-left: 0;
    }
    .overlay-task {
        padding: 24px;
        font-size: 16px;
    }
    .task-title {
        font-size: 20px;
    }
    .task-details-container {
        margin-top: 8px;
        gap: 8px;
    }
    .assigned-to-container ul,
    .subtask ul {
        min-height: 72px;
        max-height: 112px;
    }
}