@media (max-width: 428px) {
    .contacts-container {
        padding: 0 20px;
    }

    .contact-list {
        gap: 20px;
        padding: 0 8px;
    }

    .contact-initials {
        min-height: 45px;
        min-width: 45px;
    }

    .contacts-first-letter {
        padding: 25px 35px;
    }

    .current-contact-circle {
        min-width: 75px;
        min-height: 75px;
    }

    .contact-content {
        height: calc(100vh - (70px + 70px));
    }

    .contact-list {
        scale: 0.9;
    }

    .contact-list:hover {
        scale: 1;
    }
}

@media screen and (max-width: 1024px) and (min-width: 428px) {
    .contact-content {
        height: calc(100vh - (80px + 80px));
    }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .contacts-container {
        width: 80%;
    }

    .contact-list {
        gap: 40px;
        scale: 1.1;
    }

    .contact-list:hover {
        scale: 1.2;
    }

    .contacts-first-letter {
        scale: 1.1;
    }
}

@media (max-width: 1024px) {
    .contacts-details-desktop-container {
        display: none;
    }

    .contact-content {
        flex-direction: column;
    }

    .add-new-contact-desktop-sticky {
        display: none;
    }
}

@media (min-width: 1024px) {
    .contact-content {
        padding-left: 130px;
    }

    .contacts-mobile-container {
        box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
        max-width: 456px;
    }

    .add-contact,
    .edit-button {
        display: none;
    }

    .edit-overlay-form {
        flex-direction: row;
        width: 1050px;
        padding: 0;
    }

    .edit-initals-container {
        bottom: unset;
        right: -130px;
    }

    .submit-btn {
        position: absolute;
        right: 110px;
        bottom: 110px;
        scale: 0.9;
    }

    .overlay-header {
        width: 420px;
        height: 594px;
        padding-left: 60px;
    }

    .edit-form-inputs {
        padding: 0;
        margin-left: 170px;
    }

    .edit-headline {
        scale: 1.1;
    }

    .subtitle {
        scale: 1.1;
    }

    .blue-underline {
        scale: 1.1;
    }

    .hide-overlay {
        transform: translateX(100vw);
    }

    .close-edit path{
        fill: black;
    }
}








@media (min-width: 1440px) {
    .contact-content {
        padding-left: 232px;
        max-width: 1920px;
    }

    .contacts-mobile-container {
        width: 456px;
    }
}