@media(max-width: 428px) {
    .contacts-container {
        padding: 0 20px;
    }

    .contact-list {
        gap: 20px;
        padding: 0 8px;
    }

    .contact-initials {
        min-height: 45px;
        min-width: 45px;
    }

    .contacts-first-letter {
        padding: 25px 20px;
    }

    .current-contact-circle {
        min-width: 75px;
        min-height: 75px;
    }
}


@media screen and (max-width: 1024px) and (min-width: 600px) {
    .contact-list {
        padding: 0 120px;
    }
}


@media(max-width: 1024px) {
    .contacts-details-desktop-container {
        display: none;
    }

    .contact-content {
        flex-direction: column;

    }
}

@media(min-width: 1024px) {
    .contact-content {
        padding-left: 210px;

    }

    .contacts-mobile-container {
        box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
    }

    .add-contact{
        display: none;
    }
}

@media(min-width: 1440px) {
    .contact-content {
        padding-left: 232px;

    }

    .contacts-mobile-container {
        width: 456px;
    }
}