@media(max-width: 428px) {
    .header-mobile {
        height: 70px;
    }

    .sidebar-mobile {
        height: 70px;
    }

    .nav-link-mobile {
        scale: 0.9;
    }

}

@media(min-width: 1024px) {
    .content {
        padding: 25px 16px 48px calc(232px + 16px);
    }


}


@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .sidebar-desktop {
        width: 140px;
    }

    .nav-link-desktop {
        padding: 10px 0;
        flex-direction: column;
    }

    .sidebar-nav {
        gap: 25px;
    }

    .sidebar-info {
        padding: 0;
        align-items: center;
    }

    .subtitle {
        z-index: 1;
    }

}





@media(min-width: 1440px) {
    .sidebar-desktop {
        width: 232px;
    }
}