/* @media(max-width: 1024px) {
    .content {
        height: calc(100vh - (80px + 80px));
    }
} */

@media(min-width: 1024px) {
    .content {
        padding: 25px 16px 48px calc(232px + 16px);
    }
    .sidebar-desktop {
        width: 210px;
    }
}

@media(min-width: 1440px) {
    .sidebar-desktop {
        width: 232px;
    }
}