@media(max-width: 428px) {
    .header-mobile {
        height: 70px;
    }

    .sidebar-mobile {
        height: 70px;
    }

    .nav-link-mobile {
        scale: 0.9;
    }

}

@media(min-width: 1024px) {
    .content {
        padding: 25px 16px 48px calc(232px + 16px);
    }

    .sidebar-desktop {
        width: 210px;
    }
}

@media(min-width: 1440px) {
    .sidebar-desktop {
        width: 232px;
    }
}