.subtitle {
    font-size: 20px;
    color: var(--white);
    align-self: start;
    margin-top: 6px;
    font-weight: 200;
}

.blue-underline {
    align-self: start;
    margin-top: 12px;
}

.submit-btn {
    font-size: 20px;
    color: white;
    padding: 16px 8px;
    border: solid 1px;
    border-radius: 10px;
    gap: 4px;
    background-color: var(--darke-blue);
}

.submit-btn img {
    width: 20px;
    margin-left: 4px;
}


/* Add Contact Dialog*/

.dialog {
    position: absolute;
    align-self: center;
    bottom: 0;
    transition: 125ms ease-in-out;
    transform: translateY(80px);
    background-color: var(--darke-blue);
    color: var(--white);
    padding: 16px;
    font-size: 14px;
    width: min-content;
    text-wrap: nowrap;
    border-radius: 12px;
}

.dialog-active {
    transform: translateY(-120px);
}