.text-blue{
    color: var(--light-blue);
}

.help-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.how-to-use {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.solo-column::marker {
    font-size: 27px;
    font-weight: bold;
}