@media(max-width: 428px) {
    .headline {
        font-size: 40px;
    }

    .summary-headline-container {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .underline {
        width: 84px;
    }

    .summary-icon {
        width: 38px;
        height: 38px;
    }

    .task-count {
        font-size: 40px;
    }

    .summary-counter {
        font-size: 14px;
    }

    .summary-urgent-btn {
        gap: 14px;
    }
}