@media(max-width: 392px) {
    .prio-btn {
        padding: 8px 8px;
        width: 88px;
        gap: 4px;
    }
}

@media(max-width: 545px) {
    .aside-desktop {
        display: none;
        width: 100%;
    }
}

@media(min-width: 546px) {
    body {
        flex-direction: row !important;
    }
    .sidebar-mobile {
        display: none;
    }
}