main {
    align-items: center;
}

input,
textarea {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
}

form {
    max-width: 540px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin-bottom: 80px;
    width: 100%;
}

.row {
    justify-content: space-between;
    align-items: center;
}

.prio,
label,
.row,
input,
textarea,
.drop-down {
    margin-top: 8px;
    font-size: 14px;
}

.mt-16 {
    margin-top: 16px;
    width: 100%;
}

textarea::placeholder,
input::placeholder,
#date {
    font-family: inter;
    color: var(--placeholder-grey);
}

textarea {
    border: 1px solid var(--dark-grey);
    height: 64px;
    resize: none;
}

button {
    padding: 16px;
    border-radius: 8px;
    color: black;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.contact-row {
    justify-content: space-between;
    align-items: center;
}

.contact-row input {
    margin: 0px;
}

.selectet-contacts-container {
    margin-top: 4px;
    gap: 4px;
}

.contact {
    height: 40px;
    width: 40px;
    background-color: blue;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    font-size: 12px;
}

.gap {
    gap: 12px;
}

.prio-btn {
    background-color: var(--white);
    width: 108px;
    font-size: 16px;
    padding: 8px 16px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2)
}

.prio-btn img {
    max-width: 20px;
    max-height: 14px;
}

.submit-row {
    background-color: var(--light-grey);
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.submit {
    text-wrap: nowrap;
    background-color: var(--darke-blue);
    color: var(--white);
    font-size: 16px;
}

.required {
    color: var(--required);
}


/* Dropdown */

.select-placeholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: var(--white);
}

.select-placeholder img {
    transition: transform 125ms ease-in;
    transform: rotate(0);
}

.dropdown-options {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-options li {
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--white);
}

.dropdown-options li:hover {
    background-color: var(--darke-blue);
    color: var(--white);
}

.show-dropdown {
    display: block;
}

.low {
    background-color: var(--low);
    color: var(--white);
}

.medium {
    background-color: var(--medium);
    color: var(--white);
}

.urgent {
    background-color: var(--urgent);
    color: var(--white);
}


/* Customize the label (the container) */


/* .container {
    position: relative;
    cursor: pointer;
}

.container input {
    opacity: 0;
    height: 0;
    width: 0;
} */


/* Create a custom checkbox */


/* 
.checkmark {
    position: absolute;
    top: -5px;
    right: 4px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid var(--dark-grey);
    border-radius: 4px;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: -3px;
    width: 5px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */