@media(max-width: 392px) {
    .prio-btn {
        padding: 8px 8px;
        width: 88px;
        gap: 4px;
    }
}

@media(max-width: 545px) {
    .aside-desktop {
        display: none;
        width: 100%;
    }
    .seperator {
        display: none;
    }
}

@media(min-width: 546px) {
    body {
        flex-direction: row !important;
    }
    .sidebar-mobile {
        display: none;
    }
    form {
        padding-top: 80px;
        flex-direction: row !important;
    }
    main {
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 993px) {
    form {
        flex-wrap: wrap;
    }
    /* .seperator {
        display: none;
    } */
}

@media(max-width: 973px) {
    .seperator {
        display: none;
    }
}

@media(max-width: 855px) {
    .left,
    .right {
        width: 100%;
    }
}