    .add-task-main-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: var(--light-grey);
        padding: 25px 16px 48px 16px;
        text-wrap: wrap;
        max-width: calc(1920px - 232px);
        align-items: center;
        margin-left: 210px;
    }


    .add-task-headline{
    
    }

    .h-100 {
        height: 100%;
    }

    .w-100 {
        width: 100%;
    }

    .input,
    .textarea {
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 14px;
        outline: unset;
        border: 1px solid var(--dark-grey);
    }

    .textarea {
        height: 64px;
        resize: none;
    }

    textarea::placeholder,
    input::placeholder,
    #date {
        font-family: inter;
        color: var(--placeholder-grey);
    }

    .prio,
    .label,
    .row,
    .input,
    .textarea,
    .drop-down {
        margin-top: 8px;
        font-size: 14px;
        width: 100%;
    }

    .add-task-form {
        width: 1000px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 64px;
        width: 100%;
    }

    .task-details {
        display: flex;
        flex-direction: column;
    }

    .task-settings {
        display: flex;
        flex-direction: column;
    }

    .row {
        justify-content: space-between;
        align-items: center;
    }

    .mt-16 {
        margin-top: 16px;
        width: 100%;
    }

    .btn {
        padding: 16px;
        border-radius: 8px;
        color: black;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        outline: unset;
        border: unset;
    }

    .contact-row {
        justify-content: space-between;
        align-items: center;
    }

    .contact-row input {
        margin: 0px;
    }

    .selectet-contacts-container {
        margin-top: 4px;
        gap: 4px;
    }

    .contact {
        height: 40px;
        width: 40px;
        /* background-color: blue; */
        color: var(--white);
        border: 2px solid var(--white);
        border-radius: 50%;
        font-size: 12px;
    }

    .gap {
        gap: 12px;
    }

    .prio-btn {
        background-color: var(--white);
        width: 108px;
        font-size: 16px;
        padding: 8px 16px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2)
    }

    .prio-btn img {
        max-width: 20px;
        max-height: 14px;
    }

    .submit-row {
        background-color: var(--light-grey);
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        max-width: calc(1920px - 232px);
    }

    .buttons {
        display: flex;
        gap: 8px;
    }

    .clear {
        background-color: var(--white);
        color: black;
        font-size: 16px;
        border: 2px solid var(--dark-grey);
    }

    .submit {
        align-self: flex-end;
        text-wrap: nowrap;
        width: min-content;
        background-color: var(--darke-blue);
        color: var(--white);
        font-size: 16px;
    }

    .submit:hover {
        background-color: var(--light-blue);
    }

    .required {
        color: var(--required);
    }

    /* Dropdown */

    .drop-down input {
        margin: 0;
        border: unset;
    }

    .drop-down {
        background-color: var(--white);
        -webkit-transition: 0.125s;
        transition: 0.125s;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid var(--dark-grey);
    }

    .drop-down button {
        padding: 0px 16px;
    }

    .select-placeholder {
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .select-placeholder span {
        padding: 8px;
    }

    .input-active {
        border: 1px solid var(--light-blue);
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: unset;
        border: 1px solid var(--light-blue);
    }

    #assign-to-dropdown:focus {
        border: unset;
    }

    .not-found {
        font-size: 12px;
    }

    /*Drop-Down Menü*/

    .drop-down {
        justify-content: space-between;
        width: 100%;
    }

    .dropdown-options {
        max-height: 200px;
        overflow-y: auto;
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .dropdown-options li,
    .options li {
        padding: 12px;
        cursor: pointer;
        border-radius: 8px;
        background-color: var(--white);
    }

    .dropdown-options li:hover,
    .options li:hover {
        background-color: var(--darke-blue);
        color: var(--white);
    }

    .contact-active {
        background-color: var(--darke-blue) !important;
        color: var(--white);
    }

    .show-dropdown {
        display: block;
    }

    .dropdown-btn {
        padding: 0px 16px;
        background-color: unset;
    }

    /*Priority Buttons*/

    .low {
        background-color: var(--low);
        color: var(--white);
    }

    .medium {
        background-color: var(--medium);
        color: var(--white);
    }

    .urgent {
        background-color: var(--urgent);
        color: var(--white);
    }

    .links {
        margin-top: 72px;
        gap: 40px;
    }

    .nav-link {
        color: var(--white);
        align-items: center;
        gap: 8px;
    }

    /* Subtasks */

    .form-field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 20px;
    }

    .add-task-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 38px;
        border: solid 1px #d1d1d1;
        border-radius: 10px;
        padding: 12px 21px;
        box-sizing: border-box;
        background-color: white;
    }

    .add-task-input input {
        border: none;
        flex: 1;
    }

    .add-subtask-btn {
        padding: 5px;
        cursor: pointer;
    }

    .subtasks-btns {
        display: flex;
        gap: 5px;
    }

    .subtask {
        display: flex;
        height: 30px;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 10px;
        transition: all ease-in-out 125ms;
    }

    .subtask img {
        margin: 0 5px;
        display: none;
    }

    .subtask:hover img {
        display: block;
    }

    .subtask img:hover {
        scale: 1.1;
    }

    .subtask span {
        display: none;
    }

    .subtask:hover span {
        display: block;
        background-color: black;
    }

    .subtask:hover {
        background-color: #d1d1d1;
    }

    .subtask p:before {
        content: '• ';
    }

    .subtask-text {
        display: flex;
        width: 100%;
    }

    .subtask-text p {
        width: 100%;
    }

    .word-item {
        font-size: 16px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        height: 30px;
    }

    .word-item input {
        font-size: 16px;
        width: 100%;
        border: none;
        border-bottom: solid 1px #29abe2;
    }

    .word-item input:focus {
        outline: none;
    }

    .word-item svg {
        margin: 0 10px;
        cursor: pointer;
    }

    .word-item button {
        background-color: unset;
        border: none;
        cursor: pointer;
    }

    .word-item button img {
        width: 15px;
        margin: 5px;
    }

    /* Selectet*/

    .s-hidden {
        visibility: hidden;
        padding-right: 10px;
    }

    .select {
        cursor: pointer;
        color: black;
        margin-top: 12px;
        height: 32px;
        border: 1px solid var(--dark-grey);
        border-radius: 8px;
    }

    select option[value=""] {
        display: none;
    }

    .styledSelect {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 8px;
        padding: 10px 16px;
        font-size: 14px;
        border: 1px solid var(--dark-grey);
    }

    .styledSelect:after {
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        border: 5px solid transparent;
        border-color: black transparent transparent transparent;
        transition: all;
    }

    .styledSelect.active:after {
        transform: rotate(180deg);
    }

    .options {
        display: none;
        background-color: unset;
        border-radius: 8px;
        top: 102%;
        width: 100%;
        padding: 0;
        list-style: none;
    }