/* =========================
          Board 
   ========================= */

.board-main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--light-grey);
    padding: 25px 16px 48px 16px;
    text-wrap: wrap;
    max-width: calc(1920px - 232px);
    gap: 32px;
    margin-left: 210px;
    z-index: 1;
}

.headline {
    justify-content: space-between;
}

.headline button {
    background-color: var(--darke-blue);
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

.input-row {
    margin-top: 20px;
    border: 2px solid var(--dark-grey);
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--white);
}

.input-row input,
.input {
    border: unset;
    border-right: 2px solid var(--medium-grey);
    width: 100%;
}

.input-row input::placeholder {
    font-size: 16px;
}

.subtitle {
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    /* z-index: 1; */
}

.subtitle button {
    border: solid 2px var(--darke-blue);
    border-radius: 8px;
    height: 30px;
    width: 30px;
}



/* =========================
       No Task Template
   ========================= */

.no-task {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    padding: 8px;
    background-color: var(--medium-grey);
    color: var(--dark-grey);
    border: 2px dotted var(--dark-grey);
    border-radius: 8px;
}




/* =========================
      Task Template
   ========================= */

.task-category {
    color: var(--light-grey);
    padding: 4px 16px;
    width: min-content;
    text-wrap: nowrap;
    border-radius: 8px;
}

.task-title {
    margin-top: 16px;
}

.task-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-grey);
}

.task-amount-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: var(--medium-grey);
    border-radius: 8px;
}

.progress {
    background-color: var(--light-blue);
    height: 8px;
    border-radius: 8px;
}

.task-amount {
    font-size: 14px;
    text-wrap: nowrap;
    margin-left: 16px;
}

.task-footer {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.contatcs-container {
    position: relative;
    width: 100px;
    height: 50px;
}

.contact {
    font-size: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid var(--white);
    color: var(--white);
}

.c0 {
    position: absolute;
    left: 0;
}

.c1 {
    position: absolute;
    left: 26px;
}

.c2 {
    position: absolute;
    left: 52px;
}

.c3 {
    position: absolute;
    left: 78px;
}

.task-container {
    height: fit-content;
    padding: 16px 0px;
    display: flex;
    gap: 16px;
    align-items: center;
    transition: all ease-in-out 125ms;
    /* background-color: burlywood; */
    animation-name: task;
    animation-duration: 800ms;
    animation-iteration-count: 1;
}

.user-story {
    background-color: var(--story);
}

.technical-task {
    background-color: var(--technical);
}

.task-contact-length {
    margin-left: 30px;
    font-size: 18px;
}

.drag-area-highlight {
    background-color: lightblue;
}

.task {
    max-height: 244px;
    min-height: 164px;
    width: 220px;
    position: relative;
    background-color: var(--white);
    padding: 16px;
    border-radius: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.task:hover {
    cursor: pointer;
    animation-name: task-drag;
    animation-duration: 800ms;
}


@keyframes task-drag {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(-8deg)
    }

    30% {
        transform: rotate(6deg)
    }

    55% {
        transform: rotate(-3deg)
    }

    80% {
        transform: rotate(1deg)
    }

    100% {
        transform: rotate(-1deg)
    }
}


/*Task Overlay*/

.task-details-container li {
    list-style: none;
}

.overlay-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    transition: all 125ms ease-in-out;
    transform: translateX(100%);
    z-index: 1;
}

.overlaver-active {
    transform: translateX(0) !important;
}



/* =========================
   Board Task Overlay
   ========================= */

.task-overlay-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.task-overlay {
    display: flex;
    flex-direction: column;
    max-height: 870px;
    width: 525px;
    border-radius: 30px;
    background-color: white;
    padding: 48px 40px;
    box-sizing: border-box;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 1px 9px 7px;
    transition: all ease-in-out 125ms;
}

.task-overlay-scroll-container {
    overflow-y: scroll;
}

.task-overlay-category-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-overlay-category {
    font-size: 23px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 36px;
    border-radius: 8px;
    border: solid 1px;
}

.task-overlay-close-icon {
    width: 24px;
    height: 24px;
    transition: all ease-in-out 125ms;
    cursor: pointer;
}

.task-overlay-close-icon:hover {
    scale: 1.1;
}

.task-overlay-title {
    width: 100%;
    font-size: 61px;
}

.task-overlay-description {
    font-size: 20px;

}

.task-overlay-prio-date-table {
    display: flex;
    font-size: 20px;
    gap: 24px;
}

.task-overlay-prio-date-table td {
    padding: 10px 10px 10px 0;
}

.task-overlay-assigned {
    font-size: 20px;
}

.task-overlay-assigned-to-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.assigned-to-contact {
    display: flex;
    padding: 7px 16px;
    align-items: center;
    gap: 10px;
}

.initials-circle {
    font-size: 14px;
    color: white;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.task-overlay-subtasks-container {
    font-size: 20px;
}


.task-overlay-subtask {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: all ease-in-out 100ms;
}

.task-overlay-subtask:hover {
    background-color: lightgray;
}

.task-overlay-edit-btns {
    display: flex;
    width: 159px;
    gap: 8px;
    align-self: flex-end;
}

.task-overlay-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;
}

.task-overlay-btn:hover {
    scale: 1.1;
}

.btn-breakline {
    height: 24px;
    width: 1px;
    background-color: #D1D1D1;
}







/*Desktop*/

.desktop-section-search-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    border: 2px solid var(--dark-grey);
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--white);
}

.task-content {
    display: flex;
    gap: 30px;
}

.board-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 222, 179, 0.5);
    overflow: scroll;
    padding: 10px;
    border-radius: 10px;
    transition: all ease-in-out 125ms;
}

@keyframes task {
    from {
        scale: 0.1;
    }

    to {
        scale: 1;
    }
}


/* =========================
   Edit Task Overlay
   ========================= */

/*Edit Task Overlayer*/

.overlay-edit-task {
    position: relative;
    text-align: start;
    padding: 34px;
    width: 100%;
    max-width: 424px;
    height: min-content;
    border-radius: 16px;
    background-color: var(--white);
    max-height: 80%;
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
    z-index: 2;
}

.mt16 {
    margin-top: 16px;
}

.button-row {
    width: 100%;
    background-color: var(--white);
    position: relative;
    height: 22px;
}

.close-btn {
    padding: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
}

.dot {
    position: absolute;
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.submit-btn {
    margin-top: 16px;
}

.edit-form {
    overflow-y: auto;
    margin: 0;
}


.add-task-overlay-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(100vw);
    z-index: 1;
}


.add-task-overlay {
    border: solid 1px;
    width: 1100px;
    height: 800px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}