.board-main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--light-grey);
    padding: 25px 16px 48px 16px;
    text-wrap: wrap;
    max-width: 1920px;
    gap: 32px;
    margin-left: 210px;
}

.headline {
    justify-content: space-between;
}

.headline button {
    background-color: var(--darke-blue);
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

.input-row {
    margin-top: 20px;
    border: 2px solid var(--dark-grey);
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--white);
}

.input-row input,
.input {
    border: unset;
    border-right: 2px solid var(--medium-grey);
    width: 100%;
}

.input-row input::placeholder {
    font-size: 16px;
}

.subtitle {
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.subtitle button {
    border: solid 2px var(--darke-blue);
    border-radius: 8px;
    height: 30px;
    width: 30px;
}

.no-task {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    padding: 8px;
    background-color: var(--medium-grey);
    color: var(--dark-grey);
    border: 2px dotted var(--dark-grey);
    border-radius: 8px;
}


.task-category {
    color: var(--light-grey);
    padding: 4px 16px;
    width: min-content;
    text-wrap: nowrap;
    border-radius: 8px;
}

.task-title {
    margin-top: 16px;
}

.task-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-grey);
}

.task-amount-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: var(--medium-grey);
    border-radius: 8px;
}

.progress {
    background-color: var(--light-blue);
    height: 8px;
    border-radius: 8px;
}

.task-amount {
    font-size: 14px;
    text-wrap: nowrap;
    margin-left: 16px;
}

.task-footer {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.contatcs-container {
    position: relative;
    width: 100px;
    height: 50px;
}

.contact {
    font-size: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid var(--white);
    color: var(--white);
}

.c0 {
    position: absolute;
    left: 0;
}

.c1 {
    position: absolute;
    left: 26px;
}

.c2 {
    position: absolute;
    left: 52px;
}

.c3 {
    position: absolute;
    left: 78px;
}

.task-container {
    height: fit-content;
    padding: 16px 0px;
    display: flex;
    gap: 16px;
    align-items: center;
    transition: all ease-in-out 125ms;
    background-color: burlywood;
}

.user-story {
    background-color: var(--story);
}

.technical-task {
    background-color: var(--technical);
}

.task-contact-length {
    margin-left: 30px;
    font-size: 18px;
}

.drag-area-highlight {
    background-color: lightblue;
}

.task {
    max-height: 244px;
    min-height: 164px;
    width: 220px;
    position: relative;
    background-color: var(--white);
    padding: 16px;
    border-radius: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.task:hover {
    cursor: pointer;
    animation-name: task-drag;
    animation-duration: 800ms;
}

.animation-ondrag {
    transform: rotate(0.05turn);
}

@keyframes task-drag {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(-8deg)
    }

    30% {
        transform: rotate(6deg)
    }

    55% {
        transform: rotate(-3deg)
    }

    80% {
        transform: rotate(1deg)
    }

    100% {
        transform: rotate(-1deg)
    }
}


/*Task Overlay*/

.task-details-container li {
    list-style: none;
}

.overlay-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    transition: all 125ms ease-in-out;
    transform: translateY(100%);
}

.overlaver-active {
    transform: translateY(0);
}

.overlay-task {
    text-align: start;
    padding: 34px;
    width: 100%;
    max-width: 424px;
    height: min-content;
    border-radius: 16px;
    background-color: var(--white);
    max-height: 100%;
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
}

.task-header {
    justify-content: space-between;
}

.task-header span {
    background-color: var(--technical);
    color: var(--white);
    border-radius: 8px;
    padding: 4px 16px;
}

.task-title {
    font-size: 16px;
    font-weight: 700;
}

.discription {
    margin-top: 12px;
}

.task-details-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
    overflow-y: auto;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px
}

.info-title {
    width: 100px;
    margin-right: 20px;
}

.info-value {
    width: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prio-icon {
    width: 18px;
    height: 16px;
}

.assigned-to-container ul {
    min-height: 160px;
    max-height: 240px;
    overflow-y: auto;
    padding: 8px 0 8px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 4px;
}

.initials-circle {
    background-color: aquamarine;
    color: var(--white);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.assigned-to-contact {
    align-items: center;
    gap: 16px;
}

.edit-task-container {
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}

.subtask ul {
    min-height: 80px;
    max-height: 112px;
    overflow-y: auto;
    padding: 8px 0 8px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 4px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    border: unset;
    outline: unset;
    background: unset;
    color: black;
}

.divider {
    height: 20px;
    width: 1px;
    margin: 0 2px;
    background-color: var(--dark-grey);
}

.icon {
    width: 20px;
    height: 20px;
}

button {
    padding: 0;
}

.checkbox {
    margin-right: 8px;
}


/*Desktop*/

.desktop-section-search-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    border: 2px solid var(--dark-grey);
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--white);
}

.task-content {
    display: flex;
    gap: 32px;
}


.board-section {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    overflow: scroll;
}