.board-main {
    gap: 32px;
}

.headline button {
    background-color: var(--darke-blue);
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

.input-row {
    margin-top: 20px;
    border: 2px solid var(--dark-grey);
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--white);
}

.input-row input {
    border: unset;
    border-right: 2px solid var(--medium-grey);
    width: 100%;
}

.input-row input::placeholder {
    font-size: 16px;
}

.subtitle {
    justify-content: space-between;
}

.subtitle button {
    border: solid 2px var(--darke-blue);
    border-radius: 8px;
    height: 30px;
    width: 30px;
}

/* section {
    margin-top: 24px;
    min-height: min-content;
    max-height: 400px;
} */

.no-task {
    margin-top: 16px;
    text-align: center;
    padding: 8px;
    background-color: var(--medium-grey);
    color: var(--dark-grey);
    border: 2px dotted var(--dark-grey);
    border-radius: 8px;
}


.task-category {
    color: var(--light-grey);
    padding: 4px 16px;
    width: min-content;
    text-wrap: nowrap;
    border-radius: 8px;
}

.task-title {
    margin-top: 16px;
}

.task-description {
    margin-top: 8px;
    color: var(--dark-grey);
}

.task-amount-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: var(--medium-grey);
    border-radius: 8px;
}

.progress {
    background-color: var(--light-blue);
    /* width: 50%; */
    height: 8px;
    border-radius: 8px;
}

.task-amount {
    font-size: 14px;
    text-wrap: nowrap;
    margin-left: 16px;
}

.task-footer {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.contatcs-container {
    position: relative;
    width: 100px;
    height: 50px;
}

.contact {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--white);
    color: var(--white);
}

.c0 {
    position: absolute;
    left: 0;
}

.c1 {
    position: absolute;
    left: 40px;
}

.c2 {
    position: absolute;
    left: 80px;
}

.c3 {
    position: absolute;
    left: 120px;
}

.task-container {
    height: 252px;
    background-color: lightgray;
    border: solid 1px;
    overflow-x: hidden;
    display: flex;
    gap: 16px;
    align-items: center;
}

.user-story {
    background-color: var(--story);
}

.technical-task {
    background-color: var(--technical);
}


.task-contact-length {
    margin-left: 30px;
    font-size: 18px;
}

.drag-area-highlight {
    background-color: lightblue;
}

.task {
    position: relative;
    background-color: var(--white);
    padding: 16px;
    border-radius: 24px;
    width: 260px;
}

.task:hover {
    cursor: pointer;
    animation-name: task-drag;
    animation-duration: 800ms;
}

.animation-ondrag {
    transform: rotate(0.05turn);
}

@keyframes task-drag {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(-8deg)
    }

    30% {
        transform: rotate(6deg)
    }

    55% {
        transform: rotate(-3deg)
    }

    80% {
        transform: rotate(1deg)
    }

    100% {
        transform: rotate(-1deg)
    }
}