/* Contacts overview */
.contacts-container {
  gap: 16px;
}

.contact {
  gap: 114px;
}

.contact-circle {
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
}

h3 {
  margin-left: 12px;
}
.group-separator {
  height: 2px;
  width: 100%;
  background-color: var(--medium-grey);
}
/* Add Contacts Overlay  */

.add-contact {
  position: absolute;
  bottom: 96px;
  right: 8px;
  width: min-content;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--darke-blue);
}

.add-contact img {
  width: 24px;
}

/* Add Contact  */

.overlayer-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.overlayer {
  padding: 80px 16px;
}

section {
  padding: 16px;
}

.dark-backround {
  height: 40vh;
  border-radius: 16px 16px 0 0;
  position: relative;
  background-color: var(--darke-blue);
  color: white;
  justify-content: center;
  align-items: center;
}

.dark-backround h1 {
  align-self: flex-start;
  font-size: 40px;
}

.dark-backround p {
  align-self: flex-start;
  font-size: 20px;
}

.input-section {
  height: 40vh;
  background-color: white;
  border-radius: 0 0 16px 16px;
}

form {
  width: 100%;
  gap: 8px;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  border: solid 1.5px var(--dark-grey);
  padding: 4px 8px;
}

form input {
  border: unset;
}

.input-row img {
  width: 24px;
  height: 24px;
}

form button {
  width: min-content;
  text-wrap: nowrap;
  padding: 8px;
  background-color: var(--darke-blue);
  color: white;
  border: unset;
  border-radius: 8px;
  cursor: pointer;
}

form button img {
  width: 12px;
  margin-left: 4px;
}

.current-user {
  position: absolute;
  bottom: -50px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

/* Edit Contacts Overlay */

.edit-contact-headline {
  display: flex;
  flex-direction: column;
  font-size: 47px;
  font-weight: 700;
  color: white;
}

.add-contact-underline {
  width: 90px;
  height: 3px;
  background-color: var(--light-blue);
}

.edit-action-btns {
  display: flex;
  gap: 20px;
}

.edit-initals {
  font-size: 47px;
  color: white;
  background-color: orangered;
  border-radius: 50%;
  border: solid 3px white;
}
