/* Contacts overview */


.contact-content {
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--light-grey);
}

.contacts-container {
    gap: 16px;
    padding: 0 30px;
}

.contacts-details-desktop-container {
    flex: 1;
}

.contacts-mobile-container {
    background-color: white;
}


/* Contacts Button  */

.add-contact,
.edit-button {
    position: absolute;
    bottom: 96px;
    right: 8px;
    width: min-content;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--darke-blue);
}


.toogle-bg-color {
    background-color: var(--light-blue) !important;
}


.add-contact img {
    width: 24px;
}


/* contact list */

.contact-list {
    gap: 50px;
    width: 100%;
    height: 70px;
    align-items: center;
    padding: 0 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}


.contact-list:hover {
    background-color: lightgray;
    scale: 1.1;
}


.contact-list:active {
    scale: 0.9;
    background-color: lightblue;
}


.contact-initials {
    min-height: 50px;
    min-width: 50px;
    color: white;
    text-shadow: 0px 2px 11px black;
    border-radius: 50%;
    border: solid 1px;
}


.contacts-first-letter {
    font-size: 20px;
    font-weight: 700;
    border-bottom: solid lightgray;
    padding: 25px 50px;
    transition: all ease-in-out 125ms;
}