/* Contacts overview */


/* .contacts-container {
    gap: 16px;
    padding: 0 30px;
} */


/* .contact {
    gap: 114px;
    cursor: pointer;
} */


/* .contact-circle {
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
} */


/* .letter {
    margin-left: 12px;
}

.group-separator {
    height: 2px;
    width: 100%;
    background-color: var(--medium-grey);
} */


/* Contacts Button  */

.add-contact,
.edit-button {
    position: absolute;
    bottom: 96px;
    right: 8px;
    width: min-content;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--darke-blue);
}

.add-contact img {
    width: 24px;
}


/* Edit Contacts Overlay */


/* .edit-contact-headline {
    display: flex;
    flex-direction: column;
    font-size: 47px;
    font-weight: 700;
    color: white;
}

.add-contact-underline {
    width: 90px;
    height: 3px;
    background-color: var(--light-blue);
}

.edit-action-btns {
    display: flex;
    gap: 20px;
}

.edit-initals {
    font-size: 47px;
    color: white;
    background-color: orangered;
    border-radius: 50%;
    border: solid 3px white;
} */


/* contact list */

.contact-list {
    gap: 50px;
    width: 100%;
    height: 70px;
    align-items: center;
    padding: 0 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.contact-list:hover {
    background-color: lightgray;
    scale: 1.1;
}

.contact-list:active {
    scale: 0.9;
    background-color: lightblue;
}

.contact-initials {
    height: 50px;
    width: 50px;
    color: white;
    text-shadow: 0px 2px 11px black;
    border-radius: 50%;
    border: solid 1px;
}

.contacts-first-letter {
    font-size: 20px;
    font-weight: 700;
    border-bottom: solid lightgray;
    padding: 25px 50px;
}


/* .contact-initials {
    height: 50px;
    width: 50px;
    text-shadow: 0px 2px 11px black;
    border-radius: 50%;
    border: solid 1px;
} */


/* .contacts-first-letter {
    font-size: 20px;
    border-bottom: solid lightgray;
} */