.edit-overlay-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 125ms;
}

.edit-overlay-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    width: 396px;
    max-height: 650px;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 40px;
    background-color: white;
    z-index: 1;
}

.overlay-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 351px;
    width: 100%;
    background-color: var(--darke-blue);
    padding: 20px;
}

.edit-headline {
    align-self: start;
    font-size: 47px;
    color: white;
}

.blue-underline {
    display: flex;
    flex-direction: column;
    width: 90px;
    border: solid 2px var(--light-blue);
}

.edit-initals-container {
    display: flex;
    font-size: 47px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.edit-initals {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    border: solid 2px white;
}

.edit-form-inputs {
    padding: 80px 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 396px;
    width: 100%;
    gap: 24px;
}

.edit-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    height: 41px;
    width: 100%;
    border-radius: 10px;
    padding: 0 15px;
}

.edit-input input {
    font-size: 20px;
    border: none;
    flex: 1;
}

.edit-input input:focus {
    outline: none;
}

.edit-action-btns {
    width: 201px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-delete-btn {
    font-size: 20px;
    color: var(--darke-blue);
    width: 82px;
    height: 51px;
    border: solid 1px var(--darke-blue);
    border-radius: 10px;
    transition: all ease-in-out 125ms;
    background-color: white;
}

.edit-delete-btn:hover {
    color: var(--light-blue);
    scale: 1.1;
    border: solid 1px var(--light-blue);
}

.edit-delete-btn:active {
    scale: 0.9;
}

.edit-save-btn {
    font-size: 20px;
    color: white;
    width: 99px;
    height: 51px;
    border: solid 1px;
    border-radius: 10px;
    gap: 4px;
    background-color: var(--darke-blue);
    transition: all ease-in-out 125ms;
}

.edit-save-btn:hover {
    scale: 1.1;
    background-color: var(--light-blue);
}

.edit-save-btn:active {
    scale: 0.9;
}

.close-edit {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.close-edit:hover {
    scale: 1.1;
}

.hide-overlay {
    transform: translateY(100vh);
}