/* Header Desktop */

.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    max-width: 1920px;
    background-color: white;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}

.header-title {
    font-size: 20px;
    font-weight: 400;
    margin-left: 360px;
}

.help-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.help-icon:hover {
    scale: 1.1;
}

.header-initials-btn {
    color: var(--light-blue);
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border: solid 3px var(--darke-blue);
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.header-initials-btn:hover {
    scale: 1.1;
    background-color: #0C2E621F;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
    height: 56px;
    margin-right: 30px;
}


/* Sidebar Desktop */

.sidebar-desktop {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: var(--darke-blue);
    transition: all ease-in-out 125ms;
}

.sidebar-logo-desktop {
    width: 100px;
    height: 121px;
    margin: 64px 0 120px 0;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 232px; */
    width: 100%;
    height: 229px;
    gap: 15px;
}

.nav-link-desktop {
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    padding-left: 56px;
    /* width: 232px; */
    width: 100%;
    height: 46px;
    gap: 8px;
}

.nav-link-desktop:hover {
    background-color: var(--hover-darke-blue);
    color: white;
}


.nav-link-desktop img {
    width: 30px;
    height: 30px;
}

.sidebar-info {
    display: flex;
    justify-content: end;
    padding-left: 52px;
    flex-direction: column;
    height: 317px;
    width: 100%;
    margin-bottom: 50px;
}

.sidebar-info a {
    color: var(--dark-grey);
    padding: 8px;
    transition: all ease-in-out 125ms;
}

.sidebar-info a:hover {
    color: var(--light-blue);
    font-weight: bold;
}