form {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 47px;
}

#myCheckbox {
    border-width: 2px;
}

.logo-login {
    height: 78px;
    width: 64px;
}

.logo-login-container {
    width: 396px;
    justify-content: start;
    display: flex;
}

.login-logo-container {
    gap: 16px;
}

.gap-login-logo-content {
    gap: 68px;
    flex-direction: column;
}

.login-area {
    gap: 32px;
    background-color: var(--white);
    border-radius: 30px;
    padding: 32px 0px 32px 0px;
    box-shadow: 0px 1px 13px 6px rgba(0, 0, 0, 0.15);
}

.login-underline {
    width: 88px;
    border: 2px solid;
    border-color: var(--light-blue);
    border-radius: 16px;
}

.input-data-container {
    gap: 16px;
    padding: 0px 16px 0px 16px;
}

.input-data {
    gap: 32px;
}

.login-remember-me {
    gap: 16px;
    padding: 0px 16px 0px 16px;
}

.login-input-area {
    flex: 10;
    width: 364px;
    height: 48px;
    gap: 8px;
    border: 1px solid;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    justify-content: space-between;
    cursor: pointer;
}

.login-input-area img {
    width: 19px;
    height: 21px;
    object-fit: cover;
}

.login-input-area input {
    flex: 100;
}

button {
    border-radius: 8px;
}

.login-buttons {
    width: 180px;
    height: 123px;
    gap: 21px;
}

.login-button {
    width: 180px;
    height: 51px;
    padding: 4px 0px 4px 0px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var();
}

.login-button-top {
    background-color: var(--darke-blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--darke-blue);
    transition: all ease-in-out 125ms;
}

.login-button-top:hover {
    background-color: var(--light-blue);
    scale: 1.1;
}

.login-button-top:active {
    scale: 0.9;
}

.login-button-bottom {
    background-color: var(--white);
    color: var(--darke-blue);
    font-size: 16px;
    font-weight: 700;
    border: solid 1.5px;
    border-color: var(--darke-blue);
    transition: all ease-in-out 125ms;
}

.login-button-bottom:hover {
    background-color: var(--light-blue);
    scale: 1.1;
}

.login-button-bottom:active {
    scale: 0.9;
}

.signup-button {
    width: 104px;
    height: 49px;
}

.font-size-20 {
    font-size: 20px;
    gap: 35px;
}

.footer-container {
    width: 246px;
    height: 35px;
    font-size: 16px;
    justify-content: space-between;
}

.footer-links {
    padding: 8px;
    gap: 8px;
}

#myCheckbox {
    cursor: pointer;
}

.red-border {
    border: 2px solid red;
}

.error-message-email {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 42%;
    right: 0;
    left: 0;
    display: none;
}

.error-message-email.visible {
    display: block;
}

.error-message-password {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 49%;
    right: 0;
    left: 0;
    display: none;
}

.error-message-password.visible {
    display: block;
}

.overlay {
    position: absolute;
    background-color: var(--light-blue-light);
    border: 2px solid var(--light-blue);
    z-index: 999;
    animation: fadeOut 2s forwards;
    flex: 1;
}

.welcomeMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease-out, visibility 2s ease-out;
}

.border-none {
    border: none;
}