.sidebar-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    height: 100vh;
    background-color: var(--darke-blue);
}

.sidebar-logo-desktop {
    width: 100px;
    height: 121px;
    margin: 64px 0 120px 0;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: 229px;
    gap: 15px;
}

.nav-link-desktop {
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    padding-left: 56px;
    width: 232px;
    height: 46px;
    gap: 8px;
}

.nav-link-desktop:hover {
    background-color: var(--hover-darke-blue);
    color: white;
}


.nav-link-desktop img {
    width: 30px;
    height: 30px;
}

.sidebar-info {
    display: flex;
    justify-content: end;
    padding-left: 52px;
    flex-direction: column;
    height: 317px;
    width: 100%;
    margin-bottom: 50px;
}

.sidebar-info a {
    color: var(--dark-grey);
    padding: 8px;
    transition: all ease-in-out 125ms;
}

.sidebar-info a:hover{
    color: var(--light-blue);
    font-weight: bold;
}