body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 47px;
}

.site-logo {
    position: absolute;
    top: 37px;
    left: 38px;
    width: 64px;
    height: 78px;
}

.sign-up-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 173px;
    font-size: 47px;
    gap: 16px;
}

.blue-underline {
    width: 88px;
    border: solid 2px var(--light-blue);
    border-radius: 3px;
}

.sign-up-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 595px;
    width: 396px;
    padding: 32px 0;
    gap: 16px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 13px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.sign-up-container {
    gap: 24px;
}

.sign-up-container img {
    object-fit: cover;
    width: 20px;
    height: 21px;
}

.sign-up-form-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 364px;
    height: 50px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    gap: 18px;
    padding: 13px 21px;
}

.sign-up-form-inputs img {
    width: 16px;
    height: 21px;
    object-fit: cover;
}

.sign-up-form-inputs input {
    font-size: 20px;
    font-weight: 400;
    width: 56px;
    height: 24px;
    flex: 1;
    border: none;
}

.sign-up-form-inputs input:focus {
    outline: none;
}

.sign-up-form-inputs input::placeholder {
    color: #D1D1D1;
}

.sign-up-btn {
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 4px 0px;
    width: 180px;
    height: 51px;
    border-radius: 8px;
    background-color: var(--darke-blue);
    transition: all ease-in-out 125ms;
}

.sign-up-btn:hover {
    background-color: var(--light-blue);
    scale: 1.1;
}

.sign-up-btn:active {
    scale: 0.9;
}

.back-btn {
    position: absolute;
    top: 64px;
    left: 50px;
    border-radius: 50%;
    transition: all ease-in-out 125ms;
}

.back-btn:hover {
    cursor: pointer;
    background-color: var(--medium-grey);
    scale: 1.1;
}

.back-btn:active {
    scale: 0.9;
}

.gap-signup-logo-content {
    gap: 68px;
}

.logo-login {
    height: 78px;
    width: 64px;
}

.logo-signup-container {
    width: 396px;
    justify-content: start;
    display: flex;
}

.checkbox-privacy-policy {
    width: 231px;
    height: 24px;
}

.font-size-16 {
    font-size: 16px;
    font-weight: 400;
}

.footer-container {
    width: 246px;
    height: 35px;
    font-size: 16px;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    background-color: var(--light-blue-light);
    border: 2px solid var(--light-blue);
    z-index: 999;
    animation: fadeOut 2s forwards;
    flex: 1;
}

.d-flex {
    gap: 24px;
}

.error-message-name {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 36%;
    right: 0;
    left: 0;
    display: none;
}

.error-message-name.visible {
    display: block;
}

.error-message-email {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 48%;
    right: 0;
    left: 0;
    display: none;
}

.error-message-email.visible {
    display: block;
}

.error-message-password {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 60.5%;
    right: 0;
    left: 0;
    display: none;
}

.error-message-password.visible {
    display: block;
}

.error-message-conf-password {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 73.5%;
    right: 0;
    left: 0;
    display: none;
}

.error-message-conf-password.visible {
    display: block;
}

.red-border {
    border: 2px solid red;
}