.summary-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F6F7F8;
}

.summary-headline-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    position: absolute;
    left: 0;
    top: 0;
    width: 223px;
    height: 104px;

    animation-name: summary-1;
    animation-duration: 300ms;
}

.headline {
    font-size: 47px;
}

.underline {
    width: 90px;
    border: solid 2px var(--light-blue);
}

.summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 396px;
    width: 100%;
    max-height: 384px;
    height: 100%;
    margin-top: 130px;
    gap: 8px;

}

.summerys-box {
    display: flex;
    justify-content: space-between;
    max-width: 396px;
    width: 100%;
    max-height: 110px;
    height: 100%;
    gap: 8px;
}

.summary-todo-btn {
    color: black;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 186px;
    width: 100%;
    height: 110px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 125ms;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    animation-name: summary-2;
    animation-duration: 300ms;
}

.summary-todo-btn:hover {
    scale: 1.1;
}

.summary-counter {
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-count {
    font-size: 47px;
    font-weight: 600;
}

.summary-urgent-btn {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 396px;
    height: 110px;
    gap: 20px;
    border-radius: 20px;
    transition: all ease-in-out 125ms;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    animation-name: summary-1;
    animation-duration: 300ms;
}

.summary-urgent-btn:hover {
    scale: 1.1;
}

.urgent-count-box {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
}

.summary-icon {
    width: 40px;
    height: 40px;
}

.breakline {
    height: 68px;
    border: solid 2px lightgray;
}

.deadline {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.urgent-date {
    font-size: 16px;
    font-weight: 700;
}

.summary-task-btn {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    border-radius: 20px;
    transition: all ease-in-out 125ms;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    animation-name: summary-2;
    animation-duration: 300ms;
}

.summary-task-btn:hover {
    scale: 1.1;
}



@keyframes summary-1 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX();
    }
}


@keyframes summary-2 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX();
    }
}